.nav {
	padding: 15px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	&__left {
		width: 40px;
		height: 40px;
	}
	&__main {
	}
	&__logo {
		width: 40px;
		height: 40px;
	}
	&__title {
		padding-left: 5px;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 400;
		line-height: 18px;
		color: #543d2e;
	}
	&__collapse__button {
		font-size: 30px;
		color: #97897e;
	}
}
