.nav {
	-webkit-box-shadow: 0px 5px 14px 0px rgba(64, 64, 64, 0.4);
	-moz-box-shadow: 0px 5px 14px 0px rgba(64, 64, 64, 0.4);
	box-shadow: 0px 5px 14px 0px rgba(64, 64, 64, 0.4);
	&__header {
		position: relative;
		padding: 15px;
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		align-items: center;
	}
	&__menu {
		background-color: #97897e;
	}
	&__right {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
	}
	&__logo {
		width: 40px;
		height: 40px;
	}
	&__title {
		padding-left: 10px;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
		color: #543d2e;
	}
	&__collapse__button {
		font-size: 30px;
		color: #97897e;
	}
}

@media (min-width: 1024px) {
	.nav {
		&__header {
			padding: 15px 15px 0;
		}
		&__logo {
			position: absolute;
			top: 10%;
			left: 10px;
			height: auto;
			width: 100px;
		}
		&__right {
			display: none;
		}
		&__menu {
			background-color: transparent;
			margin-left: 100px;
		}
		&__main {
			width: 100%;
		}
		&__title {
			font-size: 20px;
			line-height: 20px;
			font-weight: 500;
			padding-bottom: 5px;
			padding-left: 4px;
		}
	}
}
