.menu__item {
	position: relative;
	width: 100%;
	text-align: center;
	list-style-type: none;
	&:after {
		position: relative;
		content: '';
		height: 2px;
		width: 90%;
		background-color: #b6ada4;
		display: block;
		margin: 0 auto;
	}
	&__auth {
		background-color: #b6ada4;
	}
	&__auth--active {
		background-color: #6f6156;
	}
	&__dropdown {
		color: #fff;
		text-decoration: none;
		font-size: 13px;
		font-weight: 400;
		padding: 10px;
	}
	&__dropdown--active {
		color: #fff;
		padding: 10px;
		background-color: #51463d;
	}
	&--active {
		position: relative;
		width: 100%;
		text-align: center;
		background-color: #6f6156;
	}
	&__sub {
		color: #fff;
		text-decoration: none;
		font-size: 13px;
		font-weight: 400;
		padding: 20px;
	}
	&__wrapper {
		padding: 10px;
	}
	&:last-child:after {
		display: none;
	}
}

.menu__link {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-weight: 400;
}

.menu__icon {
	padding-left: 5px;
	font-size: 20px;
	color: #fff;
	vertical-align: middle;
}
